.boxes{
    background-color: pink;
    padding: 20px;
    margin: 20px;
    border-radius: 15px
}
.boxes h2{
    text-align: center;
}
.text{
    text-align: center;
    font-size: 1.5em;
}
.head{
    text-align: center; 
    margin-top: 60px;
}

.btn-contact{
    border: none;
    background-color: rgb(220, 121, 137);
    margin: 10px;
    padding: 8px;
    border-radius: 15px;
}
.btn-contact a{
    color: #fff;
    font-size: 1.5em;
}

.second-container p{
    text-align: center;
    font-size: 1.7em;
}


  
  .boxes p, .boxes h2{
    color: black;

  }

 